#browser .plus-feature.human, 
#browser .minus-feature.human {
    border: 1px solid red;
}

#browser .track .track-label {
    opacity: 0.6;
}
#browser input:focus, #browser textarea:focus {
	border: none;
}

.navbar ul, 
.navbar li {
		background: none;
}
.navbar .dropdown ul,
.navbar .dropdown li {
	background: white;
}