@import url("core/core.css");
@import url("plugins/plugins.css");

/* -----------------------------------------------------------------------------

    *Filename:              style.css
    *Description:           XENO
    *Version:               0.2.0.2011.05.16
    *Author:                Shane Wilson

==== INDEX: ====================================================================

    $__fonts                Fonts
    $__forms				Forms
    $__tables				Tables
    $__nav					Navigation
    $__common               Common Styles
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *  $__fonts
----------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	color: hsla(203,27%,50%,1.0);
   	font-family: 'Gruppo', arial, serif;
}
h1 a:link, h1 a:visited {color: hsla(203,27%,50%,1.0);}
.subheader {font-size: 12px;}
h1 {
    font: bold 22px 'Gruppo', arial, serif;
    margin: 5px 0;
    }
h2 {
    font: bold 18px helvetica,arial,freesans,clean,sans-serif;
    margin: 5px 0;
    }
h3 {
    color: #333;
    font: bold 14px helvetica,arial,freesans,clean,sans-serif;
    margin: 3px 0;
    }

/* -----------------------------------------------------------------------------
 *  $__forms
----------------------------------------------------------------------------- */
label {
	display: block;
	font: bold 11px verdana, arial, helvetica, sans-serif;
	margin: 5px 0;
	}
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 4px 5px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}
input[type="radio"], input[type="checkbox"] {
	width: auto;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #ddd;
}

/* -----------------------------------------------------------------------------
 *  $__tables
----------------------------------------------------------------------------- */ 
table {
    border: 1px solid #ccc;
    width: 100%
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}

/* -----------------------------------------------------------------------------
 *  $__nav
----------------------------------------------------------------------------- */
#nav, #admin-nav {
	padding: 0;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    #nav {
      background: hsla(203,27%,50%,1.0);
    }
    #admin-nav {
      background: hsla(203,0%,50%,1.0);
    }
    #nav .item {
	    padding: 7px 10px;
    }
    #admin-nav .item {
	    padding: 5px 8px;
    }
   	#admin-nav .item:first-child, #nav .item:first-child {
		-moz-border-radius-topleft: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    -webkit-border-bottom-left-radius: 5px;
 	    -webkit-border-top-left-radius: 5px;
    	}
   	#admin-nav .item:last-child, #nav .item:last-child {
		-moz-border-radius-topright: 5px;
	    -moz-border-radius-bottomright: 5px;
	    -webkit-border-bottom-right-radius: 5px;
 	    -webkit-border-top-right-radius: 5px;
    }
    #nav .item:hover {
      background: hsla(203,27%,60%,1.0);
    }
    #nav .item.selected {
      background: hsla(203,27%,40%,1.0);
    }
    #admin-nav .item:hover {
      background: hsla(203,0%,60%,1.0);
    }
    #admin-nav .item.selected {
      background: hsla(203,0%,40%,1.0);
    }
    #nav a {
    	font: bold 14px 'Gruppo', arial, serif;
    	color: #fff;
    }
    #admin-nav a {
    	font: bold 12px 'Gruppo', arial, serif;
    	color: #fff;
    }

/* -----------------------------------------------------------------------------
 *  $__common
----------------------------------------------------------------------------- */
html, body {height:100%;}
body {background: url("../images/gradient.jpg") repeat-x scroll 0 0 transparent;}
#wrap {
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
	margin: 0 auto;
    min-width: 1200px;
    max-width: 1600px;
    min-height: 100%;
    padding: 5px 0;
}

#container {
	background: url('../images/background-white.png') no-repeat transparent; 
	background-size: 100%;
	padding: 20px 20px 150px;
	overflow:auto;
	}
	
a:link, a:visited, a:hover {
    cursor:pointer;
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

/*** UserBox ***/
.user-box-wrap {
  margin: 0 10px;
}
.user-box {
  background: hsla(0,0%,95%,1.0);
  border: 1px solid hsla(0, 0%, 85%, 1.0);
  padding:10px;
  margin: 3px 0;
  list-style: none;
  -moz-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
}
    .user-box:hover {
      background: hsla(0,0%,85%,1.0);
      border: 1px solid hsla(0, 0%, 75%, 1.0);
    }
    .user-box .delete {
      background: url("../images/close_pill.png") no-repeat scroll 0 0 transparent;
      float: right;
      margin-bottom: -4px;
      height: 18px;
      width: 18px;
    }
    .user-box .delete:hover {
      background-position: 0 -50px
    }
    .user-box a {
      color: hsla(203,27%,50%,1.0);
    }

/*** Dialog ***/
.dialog {
	background: #EDF7FF;
	padding: 10px;
	margin: 10px;
	position:relative;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	}
.dialog table {
	border: none;
    padding: 5px 0;
}
.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/*** Header ***/
header {padding: 0 10px;}
#title, #version {
	color: hsla(203,27%,50%,1.0);
	font-family: 'Gruppo', arial, serif;
	text-shadow: 0 1px 1px #fff;
}
#title {font-size: 42px}
#version {font-size: 18px}

#account-links {text-align:right;}
	#account-name {
		background: url("../images/user-icon.png") no-repeat scroll 0 2px transparent;
		font: bold 12px/11px verdana, arial, helvetica, sans-serif;
		color: #444;
		padding-left:20px;
		}
	#account-tabs {margin-left: 15px;}
	#account-tabs a, #account-tabs a:visited {
		background: hsla(203,27%,50%,1.0);
		padding: 5px 7px 7px;
		color: #fff;
		
		-moz-border-radius-bottomright: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    -webkit-border-bottom-left-radius: 5px;
 	    -webkit-border-bottom-right-radius: 5px;
	}
	#account-tabs a:hover {
		background: hsla(203,27%,55%,1.0);
	} 

/*** Footer ***/
/*
footer {
	display: block;
	font-size: 9px;
	width: 750px;
	height:150px;
	margin: -150px auto 0;
	border-top: dashed 1px #cdcdcd;
	border-left: dashed 1px #cdcdcd;
	border-right: dashed 1px #cdcdcd;
	position: relative;
	clear:both;
	}
	.footerBox {
		padding:15px 5px; 
		margin:0 5px; 
		border-right: 1px dashed #cdcdcd;
		height: 120px;
		}
*/	

/*** MESSAGES AND ERRORS ***/
.message {
    background: #f3f8fc url(../images/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
.errors {
    background: url(../images/exclamation.png) 5px 50% no-repeat #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 10px 0 10px 25px;
}
.errors ul {
    list-style: none;
    padding: 0;
}
.errors li {
	background: url(../images/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

/*** Link List ***/
ul.links {
	list-style: none;
	margin: 10px;
	padding: 0;
	}
	ul.links li{
		padding-bottom: 5px;
		}
