html {height: 100%;}
body {
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(40%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 40%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 40%); /* W3C */
}
.navbar {
	margin-bottom: 11px;
}
.content {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/* buttons */
.btn {
	vertical-align: middle; /* ensure buttons line up even when they are different tag types [a, button] */
}

/* tables */
.table {
	td, th {
		border: none;
		vertical-align: middle;
	}

	td.link {
		width: 100px;
		white-space: nowrap;
	}

	thead th {
		white-space: nowrap;
	}

	/* icons for sorted column headers */
	th.asc a:after,
	th.desc a:after {
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-left: 0.3em;
		vertical-align: text-top;
		background-image: url(../img/glyphicons-halflings.png);
		background-position: 14px 14px;
		background-repeat: no-repeat;
	}

	th.asc a:after {
		background-position: -288px -120px;
	}

	th.desc a:after {
		background-position: -313px -119px;
	}
}

/* error page */
pre.snippet {
	code.line {
		border: none;
		display: block;
	}

   .lineNumber {
		display: inline-block;
		width: 3em;
	}

	.error {
		font-weight: bold;
	}
}

/* @media */
@media (min-width:980px) {
	body { 
		padding: 10px 20px;
		-webkit-text-size-adjust: none;
	}
}

@media (max-width: 768px) {
	/* prevent the brand name wrapping or overlapping the menu toggle */
	.navbar .brand {
		max-width: 75%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.hero-unit {
		padding: 20px;
	}

	#application-status {
		display: none;
	}
}

/* optimized display for small devices */

@media (max-width:480px) {
	table thead, table td { 
		display: none;
	}
	
	table tr:first-child td {
		border-top: none;
	}
	
	table td:first-child, table td:last-child {
		display: table-cell;
		vertical-align: middle;
	}
	
	table td:last-child {
		text-align: right;
	}
}
