/*
 *  Copyright 2011(c) The Ontario Institute for Cancer Research. All rights reserved.
 *
 *  This program and the accompanying materials are made available under the
 *  terms of the GNU Public License v3.0.
 *
 *  You should have received a copy of the GNU General Public License along with
 *  this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

html {}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
//	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
//	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(251,251,251,1) 40%); /* FF3.6+ */
//	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(40%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
//	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(251,251,251,1) 40%); /* Chrome10+,Safari5.1+ */
//	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(251,251,251,1) 40%); /* Opera 11.10+ */
//	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(251,251,251,1) 40%); /* IE10+ */
//	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(251,251,251,1) 40%); /* W3C */
}

.container-fluid {
	padding: 0;
}

h1 {
	font-size: 24px;
	small {
		font-size: 14px;
	}
}
h2 {
	font-size:18px;
}


/* Nav */
.navbar {
	margin-bottom: 11px;

	.navbar-inner {
		.brand {
			font-weight: 800;
			text-shadow: 0px -1px 0px rgba(91,192,222,.5);
			padding: 8px 10px 12px;
		}
		.dropdown-toggle.active {color: @white;}
	}
}

/* sidebar */
.has_sidebar {
	.content {
		margin-left: 20px;
	    min-height: 515px;
	}
}
.has_sidebar.use_sidebar {
	.sidebar .well {
		display: block;
	}
	.content {
		margin-left: 250px;
	}
}

.sidebar {
	margin-bottom: -100%;
	width: 250px;
	word-wrap: break-word;

	.well {
		display: none;
		width: 200px;
		margin:0 10px 0 0;
	}

	.well.separator {
		display: block;
		padding-left: 3px;
		padding-right: 3px;
		width: 1px;
		margin: 15px 0;
		min-height: 485px;
	}
	.well.separator:hover {
		background-color: #ccc;
		cursor: pointer;
	}
}
.nav-list .divider {
	background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
}

/* content */
.content {
	background: none repeat scroll 0 0 #FEFEFE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.page-header {
	margin: 10px 0 14px;
	padding-bottom: 14px;
}
section {
	padding-top: 60px;
}
section:first-child {
	padding: 0;
}

/* forms */
.form-horizontal .form-actions {
	margin: 0 -10px -28px;
	border-radius: 0 0 4px 4px;
}

/* well */
.well {
	.table {
		margin: 0;
		td:first-child {
			width: 25%;
			font-weight: bold;
			vertical-align: top;
		}
	}
	dl.nav {margin: 0px;}
}
.well.well-small {
	border-radius: 3px;
	padding: 9px;

	.nav-list {
		padding: 0 5px;
	}
}

/* modal */
.modal {
	max-height: none;
}

/* tables */
.table {
	td, th {
		border: none;
		vertical-align: middle;
		
	}
	td {
		padding: 2px 5px;
	}

	td.link {
		width: 100px;
		white-space: nowrap;

		.dropdown-menu { min-width: 120px; }
	}

	thead th {
		white-space: nowrap;
		vertical-align: middle;
	}

	/* icons for sorted column headers */
	th.asc a:after,
	th.desc a:after {
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-left: 0.3em;
		vertical-align: text-top;
		background-image: url(../img/glyphicons-halflings.png);
		background-position: 14px 14px;
		background-repeat: no-repeat;
	}

	th.asc a:after {
		background-position: -288px -120px;
	}

	th.desc a:after {
		background-position: -313px -119px;
	}
}

/* error page */
pre.snippet {
	code.line {
		border: none;
		display: block;
	}

   .lineNumber {
		display: inline-block;
		width: 3em;
	}

	.error {
		font-weight: bold;
	}
}

/* @media */
/* Full Screen */
@media (min-width:1125px) {
	body { 
		padding: 10px 20px;
		-webkit-text-size-adjust: none;
	}
}

@media (min-width: 769px) and (max-width: 1124px) {
	body { 
		padding: 10px 10px;
		-webkit-text-size-adjust: none;

	}
	.table td.link .dropdown-menu {
		min-width: 110px;
	}
}

@media (max-width: 768px) {
	/* prevent the brand name wrapping or overlapping the menu toggle */
	.navbar .brand {
		max-width: 75%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.hero-unit {
		padding: 20px;
	}

	#application-status {
		display: none;
	}
}

/* optimized display for small devices */
@media (max-width:480px) {
	table thead, table td { 
		display: none;
	}
	
	table tr:first-child td {
		border-top: none;
	}
	
	table td:first-child, table td:last-child {
		display: table-cell;
		vertical-align: middle;
	}
	
	table td:last-child {
		text-align: right;
	}
}

