Source: capsid
Section: devel
Priority: extra
Maintainer: OICR <info@oicr.on.ca>
Build-Depends: debhelper (>= 7.0.15)
Standards-Version: 3.8.4
Homepage: https://github.com/capsid

Package: capsid
Architecture: all
Pre-Depends: debconf, coreutils (>= 6.10)
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, daemon, psmisc, openjdk-7-jre, dbconfig-common
Description: Pipeline and web application for pathogen identification
 .
 This is a comprehensive open source platform which integrates a 
 high-performance computational  pipeline for pathogen sequence 
 identification and characterization in human genomes and 
 transcriptomes together with a scalable results database and 
 a user-friendly web-based software application for managing, 
 querying and visualizing results.